* {
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: #263D51;
    border-bottom: 5px solid #FFD600;
    height: 75px;  
}

.link-light:hover{
    font-size: 120%;
    color: #263D51;
    text-decoration: none;
    padding: 0% 1%;
    background-color:#DDDDDD;
    border:2px solid grey;
}

.col {
    background: rgba(146, 141, 141, 0.3);
    padding: 5%;    
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://cdn.discordapp.com/attachments/864956716525027419/870067999044939776/1.png");
}